
@{  ViewBag.Title = "İyzico Ödeme Ekranı"; 
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>  @Html.Partial("_Message")</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <center>
            <div class="row">

                <div class="col-md-6 col-sm-12 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5> KONTÖR MİKTARI : <span style="font-size:large">@ViewBag.KontorMıktar</span></h5>
                        <h5> PAKET FİYATI : <span style="font-size:large">@ViewBag.Paket</span> <span class="fa fa-try text-sm"></span> </h5>
                    </div>
                </div>
            </div>
        </center>
        <div class="row">
            @Html.Raw(ViewBag.Iyzico)
            <div id="iyzipay-checkout-form" class="reponsive"></div>
        </div>
            @*<div id="iyzipay-checkout-form" class="popup"></div>*@
    </section>
    <!-- /.content -->

</div>


