<div id="modalPopupYukleniyor" class="popup">

    <div class="text-success" role="status" style="margin-left: 40%; margin-top: 5%; position: fixed;">
        <div style="text-align: center">
            <span id="gecenSure" style="font-size:60px; color:white"></span>
        </div>
        <center><img src="../../Content/adminlte/img/progresBar.gif" id="gifId" style="width:120px; height:100px"></center>
        <div style="text-align: center">
            <span id="guncelleme" style="font-size:xx-large; color:white">İşleminiz Devam Ediyor.</span>
        </div>
        <div style="text-align: center" id="bekleme">
            <span style="font-size:xx-large; color:white">Lütfen Bekleyiniz...</span>
        </div>
    </div>

</div>
